.wrapper {
    background: #EEE;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.fail {
    text-decoration: line-through;
    color: #F00;
}

.pass {
    color: rgb(132, 151, 22);
}