@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background: url(https://wallpapercave.com/wp/wp5392103.jpg) center;
    background-size: cover;
    display: flex;
    margin: 0;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

p {
    font-size: 4em;
    font-weight: bold;
    color: #333;
    margin: auto;
    text-shadow: 1px 2px 3px #000;
}

.glowA {
    animation: glow 0.8s infinite ease-in alternate;
}

.glowB {
    animation: glow 0.4s infinite ease-out alternate;
}

.rotate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}