@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    align-items: center;
    background: #48198f;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

.wrapper {
    display: flex;
    position: relative;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(https://iphone7wallpapers.co/media/uploads/2017/02/Studio-Ghibli-Castle-Anime-Green-Peace-Art-Illustration-640x960.jpg) center;
    background-size: cover;
    filter:blur(5px);
}

.blur::after {
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.wrapper:hover .blur::after {
    opacity: 0;
}

h1 {
    font-size: 2.4em;
    color: #FFF;
    margin: auto;
    border-bottom: 1px solid #FFF;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}