@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

p {
    position: relative;
    font-size: 4em;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    color: #000;
    background: #FFF;
    mix-blend-mode: screen;
    text-shadow: 0 1px 3px #555;
    animation: glow 0.6s infinite alternate ease-out;
}

p::first-letter {
    color: #F00;
}

.blur {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(https://wallpaperaccess.com/full/2917305.jpg) center;
    background-size: cover;
    filter: blur(2px);
    border: none;
    outline: none;
}

@keyframes glow {
    from {
        color: #000;
    }
    to {
        color: #0F0;
    }
}