@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background: url(https://1.bp.blogspot.com/-pzAAXQ0z-1o/XIkaFdS_XII/AAAAAAAAAgo/P3g_GQy3gNUghMM6CO8D3S1VneNELfLTwCKgBGAs/w2560-h1440-c/cat-city-night-scenery-anime-uhdpaper.com-4K-134.jpg) center;
    background-size: cover;
    display: flex;
    margin: 0;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

p {
    font-size: 4em;
    font-weight: bold;
    color: #333;
    margin: auto;
    text-shadow: 1px 2px 3px #000;
}

.glowA {
    animation: glow 0.8s infinite ease-in alternate;
}

.glowB {
    animation: glow 0.4s infinite ease-out alternate;
}

@keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}