@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

p {
    position: relative;
    font-size: 4em;
    margin: 0;
    font-weight: bold;
    animation: glow 1s infinite alternate ease-out;
}

.container {
    border-bottom: 10px solid #FFF;
    position: relative;
    z-index: 1;
    margin: auto;
    text-align: center;
    transform: rotateZ(45deg);
}

span {
    background: rgba(0, 0, 255, 0.45);
    color: #FFF;
    margin-right: 6px;
    text-shadow: 1px 2px 3px #000;
}

.blur {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(https://wallpaperaccess.com/full/2917305.jpg) center;
    background-size: cover;
    filter: blur(2px);
}

@keyframes glow {
    from {
        top: 0;
        font-weight: light;
        color: #333;
    }
    to {
        top: 90px;
        font-weight: bold;
        color: #0F0;
    }
}