* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(155, 111, 45), rgb(184, 147, 92));

    .completed {
        text-decoration: line-through;
        opacity: .5;
    }
    
    .fall {
        transform: translateY(8rem) rotateZ(20deg);
        opacity: 0;
    }

    .fa-plus-square {
        pointer-events: none;
    }

    header, form {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 20vh;

        & input, & button {
            padding: .5rem;
            font-size: 1.5rem;
            background: white;
            border: none;
            transition: all .5s ease;

            &:focus {
                outline: none;
            }
        }

        h1 {
            font-size: 2rem;
            color: white;
        }
    }

    form button:hover {
        background: rgb(155, 111, 45);
        color: white;
        cursor: pointer;
    }

    .todo-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .todo-list {
            list-style-type: none;
            min-width: 30%;
        }

        .todo {
            background: white;
            display: flex;
            place-items: center;
            margin: .5rem;
            font-size: 1rem;
            font-weight: bolder;
            color: #000;
            transition: all .5s ease;

            li {
                flex: 1;
                padding: 0 1rem;
            }

            .completed-button, .trash-button {
                background:rgb(189, 54, 54);
                padding: 1rem;
                color: white;
                font-size: 1rem;
                border: none;
                cursor: pointer;
                transition: all .5s ease;

                .fa-trash, .fa-check {
                    pointer-events: none;
                }

                &:focus {
                    outline: none;
                }
            }

            .completed-button {
                background: rgb(45, 185, 45);

                &:hover {
                    background: rgb(11, 126, 11);
                }
            }

            .trash-button:hover {
                background: rgb(117, 26, 26);
            }
        }
    }
}