@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    background: url(https://wallpaperaccess.com/full/2917305.jpg) center;
    background-size: cover;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
    mix-blend-mode: screen;
}

p {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    mix-blend-mode: screen;
    padding: 20px;
    font-size: 4em;
    font-weight: bold;
    margin: auto;
    color: #5c55aa;
    text-shadow: 2px 1px 2px #000;
    animation: rotate 2s infinite ease alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0);
        color: #5c55aa;
    }
    to {
        transform: rotate(360deg);
        color: #FFF;
    }
}