@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: Quicksand;
    font-size: 20px;
    color: #333;
}

.blur {
    background: url(https://wallpapercave.com/wp/wp5392103.jpg) center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter:blur(2px);
}

.blur::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
}

p {
    background: rgba(255, 255, 255, 0.95);
    mix-blend-mode: screen;
    padding: 5px;
    font-size: 4em;
    font-weight: bold;
    color: #333;
    text-shadow: 0px 2px 3px #000;
    margin: auto;
    border-bottom: 1px solid #FFF;
}

.glowA {
    animation: glow 0.8s infinite ease-in alternate;
}

.glowB {
    animation: glow 0.4s infinite ease-out alternate;
}

@keyframes glow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}