@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: Quicksand;
    font-size: 20px;
    text-align: center;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 10px;
    background: #EEE;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.wrapper ~ * {
    background: #3bbced;
    padding: 30px;
    color: #FFF;
}

header {
    background: url(https://www.wallpaperup.com/uploads/wallpapers/2013/02/04/34346/f359b8d17e547d73a12afcee3d7b08d8.jpg) center;
    background-size: cover;
    grid-column: 1 / 13;
    grid-row: 1 / 3;
}

main {
    display: flex;
    background: #3bbced;
    grid-column: 1 / 13;
    grid-row: 3 / 5;
}

section {
    display: flex;
    background: #3bbced;
    grid-column: 1 / 13;
    grid-row: 5 / 7;
}

footer {
    display: flex;
    background: #3bbced;
    grid-column: 1 / 13;
}

h1 {
    margin: auto;
}

header h1 {
    position: relative;
    top: 50px;
    font-weight: bold;
    mix-blend-mode: screen;
    padding: 10px;
    margin: 0 auto;
    background: #FFF;
    width: 150px;
    text-shadow: 0 1px 2px #111;
    color: #333;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 400px;
}

li {
    padding: 10px;
}

li:hover {
    cursor: pointer;
    color: #FFF;
}

.current {
    border-bottom: 5px solid #F00;
}